body{
    font-family: Helvetica, neue, sans-serif; 
}

h1{
    text-align: center; 
    font-size: 100px;
}

h3{
    color: #d93025;
    font-size: 24px;
    margin: 35px 35px;
    font-weight:normal;
}

h4{
    display: inline-block;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
    min-width: 800px;
}

#marTitle{
    margin-bottom: 35px;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.left{
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 18px;
    margin-left: 10px;
}


a {
    color: black;
    text-decoration: none;
    padding: 5px;
    margin-right: 10px;
    font-size: 14px;
}
.google{
    display: flex; 
    align-items: center;
    justify-content: center;
}
.g{
    color: #4285F4;
}
#o, #e{
    color: #EA4335;
}
#o1{
    color: #FBBC05;
}
#l {
    color: #34A853;
}

a:hover{
    text-decoration: underline;
}


.searchbutton{
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: rgb(247, 245, 245);
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.searchbutton:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.searchpart{
    height: 146px;
    width: 100%;
}

.searchBar form {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 15px;
}


.searchBar input[type="text"] {
  width: 585px;
  height: 53px;
  border-radius: 26px;
  border: 2px solid #ccc;
  font-size: 16px;
  padding-left: 15px;
}

.searchBar input[type="text"]:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.searchBar input[type="text"]:focus{
    outline: none;
    box-shadow: none;
}

#doubleButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header{
    justify-content: flex-end;
    align-items: center;
    color: white; 
    display: flex;
    width: 100%;
    height: 60px;
}
.header2{
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: white; 
    width: 100%;
    height: 60px;
}

.inlineQuest{
    height: 42px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    vertical-align: middle;
    flex-wrap: nowrap; 
    overflow: hidden;
}

#advancedButton{
    height: 30px;
    width: 120px;
    background-color: #4d90fe;
    color: #fff;
    border: 1px solid #3079ed;
    float: right;
    font-size: 11px;
    border-radius: 2px;
    cursor: default;
    font-weight: bold;
    text-align: center;
 
}

#advancedButton:hover{
    box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.3);
}

#divAdvBut{
    display: flex;
    margin-top: 20px;
}
.txtAdvanced{
    width: 572px;
    padding: 1px 8px;
    height: 29px;
    font-size: 16px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
}

.txtAdvanced:focus{
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    border: 1px solid #4d90fe;
    outline: none;
}

#advancedQuest{
    margin: 40px 2% 0 45px;
    flex-direction: column;
    display: flex;


}

.first{
    width: 190px;
    flex: 0 0 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: lighter;
    color: #333;
}

.second{
    max-width: 583px;
    min-height: 41px;
    flex: 0 0 50%;
    flex-grow: 1;
    margin-right: 10px;
    margin-left: 10px;
}

.third{
    font-size: 14px;
    align-items: center;
    margin-left: 10px;
    flex: 0 0 26%;
    min-height: 31px;
    font-weight: lighter;
    color: #333;
}